{{!-- Use the layout template we defined earlier --}}
{{#> mainLayout title="Home"}}

<main>
    <h1>Welcome to the Lab Reservation System, {{ name }}</h1>
    <p>Manage your lab reservations with ease. Navigate through our system to check availability, make reservations, and manage your profile.</p>
</main>

{{/mainLayout}}
