{{!-- Use the layout template we defined earlier --}}
{{#> mainLayout title="Register"}}

<main>
    <form id="register-form" action="/register" method="post" >
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <label for="role">Role:</label>
        <select id="role" name="role" required>
            <option value="student">Student</option>
            <option value="technician">Lab Technician</option>
        </select>
        
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="/login">Login here</a>.</p>
</main>

{{/mainLayout}}
